art
black
httpx
figlet
ipywidgets
jupyterlab
jupyterlab-spellchecker
matplotlib
nb-black
nb-clean
nest_asyncio
ohawf
openpyxl
pandas
playwright
pyarrow
python-slugify
requests
retry
rich
scikit-learn
sqlitedict
tldextract
twine
xlsxwriter
yake
# ImageHash
# Levenshtein
# PyYAML
# authenticator
# beautifulsoup4
# dotmap
# fuzzywuzzy
# google-analytics-admin
# google-analytics-data
# google-api-python-client
# google-auth-oauthlib
# html5lib
# lxml
# markupsafe==2.0.1
# nbdev
# nltk
# pillow
# plotly
# pyarrow
# python-levenshtein
# rapidfuzz
# seaborn
# xmltodict
