[Unit]
Description=uvicorn

[Service]
Type=forking
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu
Environment="SCREENDIR=/home/ubuntu/.screen"
WorkingDirectory=/home/ubuntu/repos/webdev
ExecStart="/home/ubuntu/pyenv/bin/startuvicorn"
[Install]
WantedBy=multi-user.target
