[Unit]
Description=yourservice

[Service]
# Client Env Vars
Type=forking
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu
Environment="SCREENDIR=/home/ubuntu/.screen"
WorkingDirectory=/home/ubuntu/repos/
ExecStart="/home/ubuntu/pyenv/bin/startyourservice"
[Install]
WantedBy=multi-user.target
